<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="com.flyscale.alertor"> <!-- android:sharedUserId="android.uid.system" 测试的时候可以注销  边工说是 fota升级用的-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-permission android:name="com.abupdate.permission.USE_AIDL"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".services.AlarmService"
            android:enabled="true"
            android:exported="true"/>


        <!--    开机广播    -->
        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <!--注册开机广播地址-->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <!--    短信广播    -->
        <receiver android:name=".receivers.SMSReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!--    报警灯开关广播    -->
        <receiver android:name=".receivers.AlarmLedReceiver">
            <intent-filter android:priority="1003">
                <action android:name="ACTION_ALARM_LED_ON"/>
                <action android:name="ACTION_ALARM_LED_OFF"/>
            </intent-filter>
        </receiver>
        <!--    遥控器广播     -->
        <receiver android:name=".alarmManager.RemoteControlReceiver">
            <intent-filter android:priority="1000">
                <action android:name="flyscale.privkey.REMOTE_CONTROL"/>
            </intent-filter>
        </receiver>
        <!--   自检广播     -->
        <receiver android:name=".receivers.CheckSelfReceiver">
            <intent-filter android:priority="1003">
                <action android:name="flyscale.privkey.SELF_CHECK"/>
            </intent-filter>
        </receiver>
        <!--    定制广播     -->
        <receiver android:name=".receivers.FlyscaleReceiver">
            <intent-filter android:priority="1003">
                <action android:name="flyscale.privkey.TOGGLE_USB_CONFIG"/>
                <action android:name="flyscale.privkey.SENSOR_LEARN.down"/>
                <action android:name="flyscale.privkey.SENSOR_LEARN.up"/>
                <action android:name="flyscale.privkey.FUNCTION_KEY1.down"/>
                <action android:name="flyscale.privkey.FUNCTION_KEY2.down"/>
                <action android:name="flyscale.privkey.FUNCTION_KEY3.down"/>
                <action android:name="flyscale.privkey.FUNCTION_KEY4.down"/>
            </intent-filter>
        </receiver>
        <!--   按键广播     -->
        <receiver android:name=".alarmManager.KeyReceiver">
            <intent-filter android:priority="1000">
                <action android:name="flyscale.privkey.ALARM.down"/>
                <action android:name="flyscale.privkey.ALARM.long"/>
                <action android:name="flyscale.privkey.ALARM.up"/>
                <action android:name="flyscale.privkey.EMERGENCY.down"/>
                <action android:name="flyscale.privkey.EMERGENCY.long"/>
                <action android:name="flyscale.privkey.EMERGENCY.up"/>
                <action android:name="flyscale.privkey.EXTRA_SPEAKER.down"/>
                <action android:name="flyscale.privkey.EXTRA_SPEAKER.long"/>
                <action android:name="flyscale.privkey.EXTRA_SPEAKER.up"/>
                <action android:name="flyscale.privkey.MUTE.down"/>
                <action android:name="flyscale.privkey.MUTE.long"/>
                <action android:name="flyscale.privkey.MUTE.up"/>
                <action android:name="flyscale.privkey.status.ALARM_LED"/>
            </intent-filter>
        </receiver>

	<receiver android:name=".receivers.FMReceiver">
            <intent-filter>
                <action android:name="com.android.flyscale.FM_INFORMATION"/>
                <action android:name="FLYSCALE_FM_INFORMATION"/>
                <action android:name="FLYSCALE_FM_CALLBACK_INFORMATION"/>
                <action android:name="FLYSCALE_ALARMMANAGER_FM_START"/>
                <action android:name="FLYSCALE_ALARMMANAGER_FM_STOP"/>
            </intent-filter>
        </receiver>

<!--        定时任务广播-->
        <receiver android:name=".receivers.TimingPlanReceiver">
            <intent-filter>
                <action android:name="FLYSCALE_MUSIC_STOP"/>
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--  主屏幕 (activity)，设备启动后显示的第一个 activity -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
